*.iml
*.tflite
.DS_Store
.externalNativeBuild
.gradle
.idea/
.project
.settings/
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/build
/captures
/local.properties
tags
